@media only screen and (max-width: 780px) {
  .shopping-cart {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .shopping-cart,
  .order-detail .modal {
    width: 95%;
  }
}

@media only screen and (max-width: 380px) {
  .item-counter button {
    padding: 5px;
  }
}
